.omni-style .entity-picture {
    border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    height: 50px;
    margin-right: 14px;
    width: 50px;
}

.omni-style.round .entity-picture {
    border-radius: 25px 25px 25px 25px;
    -o-border-radius: 25px 25px 25px 25px;
    -ms-border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -khtml-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
}

.omni-style .entity-big-picture {
    height: 64px;
    margin-left: 19px;
    margin-right: 19px;
    width: 64px;
}

.omni-style.mobile-s .entity-big-picture {
    margin-left: 0px;
}

.omni-style .entity-big-picture > img {
    border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

.omni-style.round .entity-big-picture > img {
    border-radius: 32px 32px 32px 32px;
    -o-border-radius: 32px 32px 32px 32px;
    -ms-border-radius: 32px 32px 32px 32px;
    -moz-border-radius: 32px 32px 32px 32px;
    -khtml-border-radius: 32px 32px 32px 32px;
    -webkit-border-radius: 32px 32px 32px 32px;
}

.omni-style .entity-huge-picture {
    border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    height: 96px;
    width: 96px;
}

.omni-style.round .entity-huge-picture {
    border-radius: 48px 48px 48px 48px;
    -o-border-radius: 48px 48px 48px 48px;
    -ms-border-radius: 48px 48px 48px 48px;
    -moz-border-radius: 48px 48px 48px 48px;
    -khtml-border-radius: 48px 48px 48px 48px;
    -webkit-border-radius: 48px 48px 48px 48px;
}

.omni-style .entity-id {
    color: #2d2d2d;
    margin: 0px 0px 0px 0px;
}

.omni-style .tag.entity-id {
    color: #ffffff;
}

.omni-style .entity-details-inner-container {
    min-height: 68px;
    width: 380px;
}

.omni-style.mobile-s .entity-details-inner-container {
    float: none;
    overflow: hidden;
    width: auto;
}

.omni-style .entity-details-inner-container p {
    margin: 5px 0px 5px 0px;
}

.omni-style.mobile-s .entity-details-inner-container p {
    display: block;
    float: none;
    width: fit-content;
}

.omni-style .entity-details-inner-container.full {
    width: 100%;
}

.omni-style .entity-details-inner-container .entity-name {
    color: #2d2d2d;
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
    max-width: 100%;
    width: 380px;
}

.omni-style.mobile-s .entity-details-inner-container .entity-name {
    font-size: 18px;
    line-height: 24px;
}

.omni-style .entity-details-inner-container .entity-description {
    color: #2d2d2d;
    line-height: 20px;
    margin: 0px 0px 0px 0px;
}

.omni-style.opensans .entity-details-inner-container .entity-description {
    line-height: 22px;
}

.omni-style .entity-details-container {
    border-bottom: 1px solid #eaeaea;
    height: 50px;
    padding-bottom: 16px;
}

.omni-style .entity-details-list {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.omni-style .entity-details-list > li,
.omni-style .entity-details-list .panel-more > div > li {
    float: left;
    margin: 8px 0px 8px 0px;
    width: 100%;
}

.omni-style.mobile-s .entity-details-list > li,
.omni-style.mobile-s .entity-details-list .panel-more > div > li {
    float: none;
    margin: 12px 0px 12px 0px;
}

.omni-style.mobile-s .entity-details-list > li:after,
.omni-style.mobile-s .entity-details-list .panel-more > div > li:after {
    clear: both;
    content: "";
    display: block;
}

.omni-style .entity-details-list .panel-more > div {
    position: relative;
}

.omni-style .entity-details-list .panel-more > div > li.list-more {
    display: block;
    margin-top: 7px;
    max-width: 100%;
    position: absolute;
    width: 532px;
}

.omni-style.mobile-s .entity-details-list .panel-more > div > li.list-more {
    margin-top: -10px;
}

.omni-style .entity-details-list > li.list-divider,
.omni-style .entity-details-list .panel-more > div > li.list-divider {
    margin: 16px 0px 16px 0px;
}

.omni-style.mobile-s .entity-details-list > li.list-divider,
.omni-style.mobile-s .entity-details-list .panel-more > div > li.list-divider {
    margin: 10px 0px 10px 0px;
}

.omni-style .entity-details-list > li p,
.omni-style .entity-details-list .panel-more > div > li p {
    float: left;
    font-size: 13px;
    line-height: 24px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.omni-style.mobile-s .entity-details-list > li p,
.omni-style.mobile-s .entity-details-list .panel-more > div > li p {
    float: none;
    line-height: 22px;
    padding-bottom: 1px;
    padding-top: 1px;
}

.omni-style.mobile-s .form .entity-details-list > li p,
.omni-style.mobile-s .form .entity-details-list .panel-more > div > li p {
    padding-bottom: 6px;
}

.omni-style .entity-details-list > li .list-super-label,
.omni-style .entity-details-list .panel-more > div > li .list-super-label {
    padding-bottom: 7px;
    padding-top: 7px;
}

.omni-style .entity-details-list > li .list-sub-label.replacer,
.omni-style .entity-details-list > li .list-sub-label.uploader,
.omni-style .entity-details-list .panel-more > div > li .list-sub-label.replacer,
.omni-style .entity-details-list .panel-more > div > li .list-sub-label.uploader {
    line-height: 32px;
}

.omni-style .entity-details-list > li .list-margin {
    margin-top: 6px;
}

.omni-style .entity-details-box {
    float: left;
    list-style: none;
    margin: 0px 0px 8px 0px;
    padding: 0px 0px 0px 0px;
    width: 250px;
}

.omni-style.mobile-s .entity-details-box {
    position: relative;
    width: 100%;
}

.omni-style .entity-details-box.special {
    border: 1px dashed #eaeaea;
}

.omni-style .entity-details-box.box-right {
    float: right;
}

.omni-style.mobile-s .entity-details-box.box-right {
    float: none;
}

.omni-style .entity-details-box > li {
    clear: both;
}

.omni-style.mobile-s .entity-details-box > li {
    display: flex;
}

.omni-style .entity-details-box > li.header-label {
    background-color: #777777;
    color: #ffffff;
    font-size: 8px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 14px;
    margin-left: 105px;
    margin-top: -7px;
    padding: 0px 8px 0px 8px;
    position: absolute;
    text-transform: uppercase;
}

.omni-style.mobile-s .entity-details-box > li.header-label {
    margin-left: 50%;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -khtml-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.omni-style.round .entity-details-box > li.header-label {
    border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.omni-style .entity-details-box > li p {
    float: left;
    line-height: 14px;
    margin: 0px 0px 0px 0px;
}

.omni-style .entity-details-box.special > li p {
    margin-left: 8px;
    margin-right: 8px;
}

.omni-style .entity-details-box > li:last-child p {
    margin-bottom: 0px;
}

.omni-style .entity-details-box > li p.list-label {
    color: #2d2d2d;
    font-size: 10px;
    height: 32px;
    line-height: 32px;
    padding: 0px 0px 0px 0px;
    text-align: left;
    text-transform: uppercase;
    width: 94px;
}

.omni-style.mobile-s .entity-details-box > li p.list-label {
    flex: 1 0;
}

.omni-style .entity-details-box > li p.list-sub-label {
    height: 32px;
    line-height: 32px;
    padding: 0px 0px 0px 0px;
    text-align: right;
    width: 156px;
}

.omni-style .entity-details-box > li.strong p.list-label {
    height: 36px;
    line-height: 36px;
}

.omni-style .entity-details-box > li.strong p.list-sub-label {
    font-size: 16px;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
}

.omni-style .entity-details-box.special > li p.list-sub-label {
    width: 124px;
}
