.omni-style .content-login {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 60px auto 60px auto;
    max-width: 100%;
    width: 564px;
}

.omni-style.mobile-s .content-login {
    margin: 20px auto 20px auto;
}

.omni-style .login-logo {
    background: transparent url(../images/logos/front-door-login-logo.png) no-repeat center center;
    height: 79px;
    margin: 60px auto 0px auto;
    width: 151px;
}

.omni-style.mobile-s .login-logo {
    margin: 20px auto 0px auto;
}

.omni-style.retina-s .login-logo {
    background-image: url(../images/logos/front-door-login-logo-2x.png);
    background-size: 151px 79px;
}

.omni-style.dark .login-logo {
    background-image: url(../images/logos/front-door-login-logo-dark.png);
}

.omni-style.retina-s.dark .login-logo {
    background-image: url(../images/logos/front-door-login-logo-dark-2x.png);
}
