.omni-style .content-login-extra {
    background-color: #fefefe;
    border: 1px solid #eeeeee;
    margin: 140px 0px 160px 560px;
    width: 340px;
}

.omni-style .content-login-extra .section-title {
    background: transparent url(../images/cargo_ship-logotype.png) no-repeat;
    line-height: 24px;
    min-height: 24px;
}

.omni-style.retina-s .content-login-extra .section-title {
    background-image: url(../images/cargo_ship-logotype-2x.png);
    background-size: 76px 24px;
}

.omni-style .content-login-extra .list-medium-input {
    width: 222px;
}

.omni-style .content-login-extra .domain-label {
    width: 220px;
}
