.omni-style .welcome {
    background: transparent url(../images/panels/welcome-logo.png) no-repeat 45px bottom;
    height: 404px;
    padding: 0px 0px 0px 0px;
}

.omni-style.retina-s .welcome {
    background-image: url(../images/panels/welcome-logo-2x.png);
    background-size: 200px 340px;
}
