.omni-style .login-image {
    background-image: url(../images/captain.png);
    height: 440px;
    margin-left: 0px;
    margin-top: -60px;
    position: absolute;
    width: 500px;
}

.omni-style.retina-s .login-image {
    background-image: url(../images/captain-2x.png);
    background-size: 487px 429px;
}

.omni-style .login-list {
    list-style: none;
    margin: 22px 0px 22px 0px;
    padding: 0px 0px 0px 0px;
}

.omni-style.mobile-s .login-list {
    margin-bottom: 12px;
    margin-top: 12px;
}

.omni-style .login-list li p {
    float: left;
    font-size: 13px;
    line-height: 22px;
}

.omni-style .button-login {
    margin: 0px auto 0px auto;
    text-align: center;
    width: 80px;
}

.omni-style .login-list li {
    margin: 12px 0px 12px 0px;
}

.omni-style .login-list li.login-remember-container {
    margin-left: 104px;
    padding-top: 12px;
}

.omni-style.mobile-s .login-list li.login-remember-container {
    display: block;
    margin-left: 0px;
}

.omni-style .login-list .login-remember {
    color: #2d2d2d;
    font-size: 12px;
    line-height: 18px;
    margin-left: 6px;
}

.omni-style .login-list .passkey-section {
    display: none;
}

.omni-style .login-list .passkey-section .passkey-instructions {
    color: #666666;
    line-height: 20px;
    margin: 8px 0px 8px 0px;
}

.omni-style .login-list .passkey-section .passkey-status {
    margin-top: 10px;
}

.omni-style .login-list .passkey-section .passkey-waiting {
    color: #666666;
}

.omni-style .login-list .passkey-section .passkey-error {
    color: #e74c3c;
    display: none;
    font-weight: bold;
}
