.omni-style .report {
    margin: 8px 0px 18px 0px;
}

.omni-style .report .report-header {
    margin: 12px 8px 16px 8px;
}

.omni-style .report .report-header > h1 {
    color: #2d2d2d;
    font-size: 24px;
    margin: 8px 0px 4px 0px;
}

.omni-style .report .report-header > .buttons {
    color: #2d2d2d;
    font-size: 12px;
    text-transform: uppercase;
}

.omni-style .report .report-header > .buttons > .link {
    display: inline-block;
    margin-left: 2px;
    margin-right: 12px;
    vertical-align: bottom;
}

.omni-style .report .report-header > .buttons > .icon {
    height: 24px;
    width: 24px;
}

.omni-style .report .report-table {
    margin: 0px auto 0px auto;
}

.omni-style .report .report-loading {
    display: none;
    margin: 64px auto 42px auto;
    text-align: center;
    width: 280px;
}

.omni-style .report.loading .report-loading {
    display: block;
}

.omni-style .report .report-loading > .loader {
    background: transparent url(../images/report/report-loading.gif) no-repeat;
    height: 15px;
    margin: 0px auto 12px auto;
    width: 128px;
}

.omni-style .report .report-loading > .info {
    color: #2d2d2d;
    font-size: 14px;
    font-weight: bold;
}

.omni-style .report .report-location {
    color: #4d4d4d;
    font-weight: bold;
    margin: 24px auto 0px auto;
    min-width: 960px;
    text-align: center;
}

.omni-style .report.loading .report-location {
    display: none;
}

.omni-style .report .report-more {
    margin: 8px auto 0px auto;
    min-width: 960px;
    text-align: center;
}

.omni-style .report.loading .report-more {
    display: none;
}

.omni-style .report .options {
    border-top: 1px solid #e2e2e2;
    display: none;
    padding: 12px 8px 0px 8px;
}

.omni-style .report.show .options {
    display: block;
}

.omni-style .report.print .options {
    display: none;
}

.omni-style .report .options > .options-block {
    float: left;
    margin: 0px 12px 12px 0px;
}

.omni-style .report .options > .options-block input {
    display: block;
}

.omni-style .report .options > .options-clear {
    clear: both;
}

.omni-style .report .options > .options-button > .button {
    margin: 0px 0px 12px 0px;
}

.omni-style .report .options .label {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 8px;
    text-transform: uppercase;
    vertical-align: top;
    width: 200px;
}

.omni-style .report .table {
    display: table-row;
}

.omni-style .report .table thead th {
    background: transparent url(../images/parts/report-header.png) repeat-x left bottom;
    border-bottom: 1px solid #aaaaaa;
    border-top: 1px solid #cccccc;
    color: #2d2d2d;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    padding: 0px 12px 0px 12px;
}

.omni-style .report .table thead th.sorter {
    text-decoration: underline;
}

.omni-style .report.loading .table tbody {
    display: none;
}

.omni-style .report .table tbody tr {
    cursor: pointer;
}

.omni-style .report .table tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

.omni-style .report .table tbody tr:hover {
    background-color: #f0f0f0;
}

.omni-style .report .table td {
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    line-height: 20px;
    padding: 6px 12px 6px 12px;
}

.omni-style .report .table td:last-child {
    border-right: 1px solid #e8e8e8;
}

.omni-style .report .button {
    background-color: #f2f2f2;
    border: 1px solid #cccccc;
    color: #4d4d4d;
    display: inline-block;
    font-weight: bold;
    margin: 8px 4px 8px 4px;
    padding: 10px 16px 10px 16px;
    text-align: center;
    width: 64px;
}

.omni-style .report .button:hover {
    background-color: #ececec;
}

.omni-style .report .button.click {
    background-color: #dddddd;
    border-color: #bbbbbb;
}

.omni-style .report .button.disabled {
    background-color: #f4f4f4;
    border-color: #dddddd;
    color: #c4c4c4;
}

.omni-style .report.print .report-header > .buttons,
.omni-style .report.print .report-location,
.omni-style .report.print .report-more {
    display: none;
}
