.omni-style .report {
    margin: 8px 0px 18px 0px;
}

.omni-style .report .report-header {
    margin: 12px 0px 16px 8px;
}

.omni-style .report .report-header > h1 {
    color: #2d2d2d;
    font-size: 24px;
    margin: 8px 0px 4px 0px;
}

.omni-style .report .report-header > .buttons {
    color: #2d2d2d;
    font-size: 12px;
    text-transform: uppercase;
}

.omni-style .report .report-header > .buttons > .link {
    display: inline-block;
    margin-left: 2px;
    margin-right: 12px;
    vertical-align: bottom;
}

.omni-style .report .report-header > .buttons > .icon {
    height: 24px;
    width: 24px;
}

.omni-style .report .report-table {
    margin: 0px auto 0px auto;
}

.omni-style .report .report-location {
    color: #4d4d4d;
    font-weight: bold;
    margin: 24px auto 0px auto;
    min-width: 960px;
    text-align: center;
}

.omni-style .report .report-more {
    margin: 8px auto 0px auto;
    min-width: 960px;
    text-align: center;
}

.omni-style .report .report-more > .button {
    background-color: #f2f2f2;
    border: 1px solid #cccccc;
    box-shadow: 0px 1px 4px #dddddd;
    -moz-box-shadow: 0px 1px 4px #dddddd;
    -webkit-box-shadow: 0px 1px 4px #dddddd;
    color: #4d4d4d;
    display: inline-block;
    font-weight: bold;
    margin: 8px 4px 8px 4px;
    padding: 10px 16px 10px 16px;
    text-align: center;
    width: 64px;
}

.omni-style .report .report-more > .button:hover {
    background-color: #ececec;
}

.omni-style .report .report-more > .button.click {
    background-color: #dddddd;
    border-color: #bbbbbb;
    box-shadow: 0px 1px 4px #cccccc;
    -moz-box-shadow: 0px 1px 4px #cccccc;
    -webkit-box-shadow: 0px 1px 4px #cccccc;
}

.omni-style .report .report-more > .button.disabled {
    background-color: #f4f4f4;
    border-color: #dddddd;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #c4c4c4;
}

.omni-style .report .table {
    display: table-row;
}

.omni-style .report .table thead th {
    background: transparent url(../images/parts/report-header.png) repeat-x left bottom;
    border-bottom: 1px solid #aaaaaa;
    border-top: 1px solid #cccccc;
    color: #2d2d2d;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    padding: 0px 12px 0px 12px;
}

.omni-style .report .table tbody tr {
    cursor: pointer;
}

.omni-style .report .table tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

.omni-style .report .table tbody tr:hover {
    background-color: #f0f0f0;
}

.omni-style .report .table td {
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    line-height: 20px;
    padding: 6px 12px 6px 12px;
}

.omni-style .report .table td:last-child {
    border-right: 1px solid #e8e8e8;
}

.omni-style .report.print .report-header > .buttons,
.omni-style .report.print .report-location,
.omni-style .report.print .report-more {
    display: none;
}
