.omni-style .drop-field.entities-search ul {
    box-shadow: 0px 1px 6px #dddddd;
    -o-box-shadow: 0px 1px 6px #dddddd;
    -ms-box-shadow: 0px 1px 6px #dddddd;
    -moz-box-shadow: 0px 1px 6px #dddddd;
    -khtml-box-shadow: 0px 1px 6px #dddddd;
    -webkit-box-shadow: 0px 1px 6px #dddddd;
}

.omni-style .drop-field.entities-search li {
    padding: 8px 6px 8px 6px;
}

.omni-style .drop-field.entities-search li.selected {
    background-color: #f4f4f4;
}

.omni-style .drop-field.entities-search li:hover {
    background-color: #f4f4f4;
}

.omni-style .drop-field.entities-search .entity-picture {
    margin-right: 10px;
}

.omni-style .drop-field.entities-search .entity-name {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    margin: 2px 0px 0px 0px;
}

.omni-style .drop-field.entities-search .entity-details {
    color: #2d2d2d;
    margin: 2px 0px 0px 0px;
}

.omni-style .drop-field.entities-search .entity-status {
    background: transparent url(../images/entity-status.png) no-repeat;
    height: 8px;
    margin: 0px 0px 0px 0px;
    width: 8px;
}

.omni-style.retina-s .drop-field.entities-search .entity-status {
    background-image: url(../images/entity-status-2x.png);
    background-size: 8px 16px;
}

.omni-style .drop-field.entities-search .entity-status.enabled {
    background-position: left 0px;
}

.omni-style .drop-field.entities-search .entity-status.disabled {
    background-position: left -8px;
}

.omni-style .drop-field.entities-search .entity-description {
    display: none;
    line-height: 14px;
    margin: 0px 0px 0px 0px;
}

.omni-style .drop-field.entities-search li.selected .entity-description,
.omni-style .drop-field.entities-search li:hover .entity-description {
    display: block;
}

.omni-style .drop-field.entities-search .entity-reference {
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    margin: 2px 0px 0px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
