.omni-style .drop-field.entities-search ul {
    border: 1px solid #eaeaea;
}

.omni-style .drop-field.entities-search li {
    border-color: #f2f2f2;
    padding: 8px 6px 8px 6px;
}

.omni-style .drop-field.entities-search li.selected {
    background-color: #f4f4f4;
}

.omni-style .drop-field.entities-search li:hover {
    background-color: #f4f4f4;
}

.omni-style .drop-field.entities-search .entity-picture {
    margin-right: 10px;
}

.omni-style .drop-field.entities-search .entity-name {
    color: #555555;
    font-size: 14px;
    font-weight: bold;
    margin: 2px 0px 0px 0px;
}

.omni-style .drop-field.entities-search .entity-details {
    color: #777777;
    margin: 2px 0px 0px 0px;
}

.omni-style .drop-field.entities-search .entity-status {
    background: transparent url(../images/entity-status.png) no-repeat;
    height: 8px;
    margin: 0px 0px 0px 0px;
    width: 8px;
}

.omni-style .drop-field.entities-search .entity-status.enabled {
    background-position: left 0px;
}

.omni-style .drop-field.entities-search .entity-status.disabled {
    background-position: left -8px;
}

.omni-style .drop-field.entities-search .entity-description {
    display: none;
    line-height: 14px;
    margin: 0px 0px 0px 0px;
}

.omni-style .drop-field.entities-search li.selected .entity-description,
.omni-style .drop-field.entities-search li:hover .entity-description {
    display: block;
}
