.omni-style .top-loader {
    background: transparent url(../images/loaders/top-loader.png) no-repeat right top;
    height: 6px;
    margin-left: 177px;
    margin-top: 48px;
    padding-right: 6px;
    padding-top: 2px;
    position: absolute;
    z-index: -1;
}

.omni-style.retina-s .top-loader {
    background-image: url(../images/loaders/top-loader-2x.png);
    background-size: 6px 6px;
}

.omni-style .top-loader > .loader-background {
    background-color: #5abbe6;
    height: 2px;
    width: 100%;
}
