.omni-style .system-menu .switch-panel {
    display: none;
}

.omni-style .system-menu .menu-button {
    background: transparent url(../images/arrow-blue.png) no-repeat right center;
    height: 24px;
    line-height: 24px;
    margin-top: 4px;
    padding: 4px 20px 4px 8px;
}

.omni-style.retina-s .system-menu .menu-button {
    background-image: url(../images/arrow-blue-2x.png);
    background-size: 13px 3px;
}

.omni-style .system-menu.active .menu-button {
    background-color: #ffffff;
}

.omni-style.animations .system-menu.active .menu-button {
    transition: background-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -o-transition: background-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -ms-transition: background-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -moz-transition: background-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -khtml-transition: background-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -webkit-transition: background-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
}

.omni-style .system-menu .menu-link {
    cursor: pointer;
}

.omni-style .system-menu .menu-contents {
    background: #ffffff;
    border: 1px solid #eaeaea;
    box-shadow: 0px 1px 4px #eeeeee;
    -o-box-shadow: 0px 1px 4px #eeeeee;
    -ms-box-shadow: 0px 1px 4px #eeeeee;
    -moz-box-shadow: 0px 1px 4px #eeeeee;
    -khtml-box-shadow: 0px 1px 4px #eeeeee;
    -webkit-box-shadow: 0px 1px 4px #eeeeee;
    min-width: 340px;
    position: absolute;
}

.omni-style.animations .system-menu .menu-contents {
    animation: fade-into-drop 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -o-animation: fade-into-drop 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -ms-animation: fade-into-drop 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -moz-animation: fade-into-drop 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -khtml-animation: fade-into-drop 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -webkit-animation: fade-into-drop 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
}

.omni-style .system-menu .menu-contents-left {
    display: inline-block;
    padding: 16px 0px 16px 16px;
    vertical-align: top;
}

.omni-style .system-menu .menu-contents-left > img {
    border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

.omni-style.round .system-menu .menu-contents-left > img {
    border-radius: 32px 32px 32px 32px;
    -o-border-radius: 32px 32px 32px 32px;
    -ms-border-radius: 32px 32px 32px 32px;
    -moz-border-radius: 32px 32px 32px 32px;
    -khtml-border-radius: 32px 32px 32px 32px;
    -webkit-border-radius: 32px 32px 32px 32px;
}

.omni-style .system-menu .menu-contents-right {
    display: inline-block;
    min-width: 200px;
    padding: 16px 16px 8px 16px;
}

.omni-style .system-menu .menu-contents-top {
    border-bottom: 1px solid #f2f2f2;
    padding: 8px 16px 8px 16px;
}

.omni-style .system-menu .menu-contents-bottom {
    border-top: 1px solid #f2f2f2;
    padding: 16px 16px 16px 16px;
}

.omni-style .system-menu .menu-contents-bottom-elements {
    border-top: 1px solid #f2f2f2;
    padding: 4px 16px 4px 16px;
}

.omni-style .system-menu .menu-contents-middle {
    padding: 0px 0px 0px 0px;
}

.omni-style .system-menu .menu-contents .name {
    color: #2d2d2d;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
}

.omni-style .system-menu .menu-contents .email {
    color: #2d2d2d;
}

.omni-style .system-menu .menu-contents .contact .name {
    font-size: 15px;
    margin-bottom: 3px;
}

.omni-style .system-menu .menu-contents .image > img {
    border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

.omni-style.round .system-menu .menu-contents .image > img {
    border-radius: 25px 25px 25px 25px;
    -o-border-radius: 25px 25px 25px 25px;
    -ms-border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -khtml-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
}
